<div class="cssbox">
  <div class="cssbox_head">
    <h2>Copyright&copy; 2008 EDMS Group1</h2>
  </div>
  <div class="cssbox_body">
    <img class="floatLeft" src="http://www.rubyonrails.org/images/rails.png" alt="Ruby on Rails" height="50px"/>
    EDMS is built on <b>Ruby on Rails</b>.<br />  
    Rails is released under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>.<br />
    Ruby is released under the <a href="http://www.ruby-lang.org/en/LICENSE.txt">Ruby License</a>.
  </div>
</div>
